.card {
    min-height: 250px;
    height: fit-content;
    width: 350px;
    padding: 0;
    border: black 1px solid;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}


.text {
    margin: 0.5rem 1rem;
    font-size: large;
}

    @media only screen and (max-width: 640px) {
        .card{
            min-height: 150px;
            width: 275px;
        }
        .text {
            font-size: medium;
        }
    }