.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  gap: 50px;
  width: 100%;
  height: 3.5rem;
  position: relative;
  z-index: 1;
}

.navigationItem {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.25rem;
  margin: 0 3rem;
}

@media only screen and (max-width: 640px) {
  .navigation{
    gap: 0;
    background-color: rgba(255,255,255,0.4);
    height: 3rem;

  }
  
  .navigationItem {
    margin: 0 1rem;
    font-size: 1.125rem;
  } 
}

.navigationItem a {
  border-bottom: 1.5px solid transparent;
  color: currentColor;
  text-decoration: none;
}

.navigationItem a:hover {
  border-bottom-color: var(--black);
}

.menuButton{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25rem;
    padding: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
}